.friends-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
}

friends-item {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.friend-name {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  color: var(--header-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
  text-decoration: none; /* Add this line to remove underline */
}

.friend-name:hover {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  color: var(--header-text-hover-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
  text-decoration: none;
}

.friend-details {
  font-size: smaller;
}
