.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #d8d7d7;
  align-items: center; /* This will vertically center all items in the navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); /* subtle shadow for a little depth */
}

.navbar-logo {
  max-width: 300px; /* Control logo size */
  height: auto; /* Maintain aspect ratio */
}

.navbar-logo img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.navbar-links {
  display: flex;
  align-items: center;
}

/* General styles for the navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 5000;
  background-color: #f0f0f0;
}

/* Styling the search input and select dropdown */
.navbar-search,
.search-type-selector {
  padding: 8px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.navbar-search:focus,
.search-type-selector:focus {
  outline: none;
  border-color: var(--button-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Styling the links and buttons */
.navbar-links a,
.navbar-links button {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-links button:hover,
.navbar-links a:hover {
  background-color: var(--button-hover-color);
}
